
@{
    ViewBag.Title = "success";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<h2>@ViewBag.scessrequest     @ViewBag.sentapproval @ViewBag.successlogin  @ViewBag.emailadded    @ViewBag.balanceadded 
                 </h2>

