
@model IEnumerable<BOL.Request>
@{
    ViewBag.Title = "WFHHistory";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<h2>Working from home history </h2>






<table class="table table table-striped">
    <tr>
       
        <th>
        Date 
        </th>

       
        
     
        <th>
          Status
        </th>

        <th>Details</th>

        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.DurationTo)
            </td>


        

            <td>
                @Html.DisplayFor(modelItem => item.RequestStatus.StatusName)
            </td>



            <td>
                @Html.ActionLink("Detilas", "MYRequestDetails", new { id = item.ID }, new { @class = "btn btn-primary" })
            </td>

            @{
    if (item.RequestStatusID == "1")
    {

        <td>
            @Html.ActionLink("Edit", "UpdateWFH", new {id = item.ID}, new { @class = "btn btn-primary" }) 





            @Html.ActionLink("Delete", "CancelWFH", new {id = item.ID}, new { @class = "btn btn-danger" })
        </td>
    }
}
    </tr>
    }

</table>


